@import url('https://fonts.googleapis.com/css?family=Raleway|Arimo|Roboto');

$primary-color: rgb(185, 148, 88);
$secondary-color: rgb(109, 105, 99);

$primary-font: 'Raleway', sans-serif;
$h4-font: 'Roboto', sans-serif;
$p-font: 'Arimo', sans-serif;
