@import '../variables';

//About

.my-image {
  float: left;
  margin-right: 20px;
}

#about {
  width: 70vw;
  margin: 0 auto;
  img {
    width: 100%;
  }
  div {
    height: 100%;
  }
}

//Work

.fp-slide {
  position:relative;
}

#projects {
  img {
    margin-left: 4vw;
    width: 70vw;
    float: left;
    opacity: 0.95;
    border: solid $accent-color 3px;
  }
}

.project-info {
  background-color: rgba($accent-color, 0.9);
  box-shadow: 50px 50px 0px -35px #5b7b7a;
  padding: 0 30px;
  z-index: 10;
  width: 35vw;
  left: 60vw;
  height: 300px;
  bottom: 30vh;
  position: absolute;
  h2 {
    color: $primary-color;
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 5px;
    font-family: 'Roboto', sans-serif;
  }
  h4 {
    font-family: $p-font;
    font-size: 18px;
  }
}
